* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  width: 100%;
}

.cantener {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
}

.cantener .name {
  font-size: 35px;
  color: #538392;
  text-transform: uppercase;
}
.cantener .timerwatch p {
  font-size: 32px;
  font-weight: 500;
}

.cantener .button button {
  width: 120px;
  height: 45px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.cantener .button button#start {
  background-color: #80b9ad;
}
.cantener .button button#stop {
  background-color: red;
}
.cantener .button button#stop:hover {
  background-color: rgb(214, 93, 93);

  color: black;
  border: 2px solid rgb(45, 43, 43);
}

.cantener .button button#reset {
  background-color: #b3e2a7;
}
.cantener .button button#reset:hover {
  background-color: #62ae4f;
  color: black;
  border: 2px solid rgb(45, 43, 43);
}
.cantener .button button#start:hover {
  background-color: #6295a2;
  color: black;
  border: 2px solid rgb(45, 43, 43);
}

@media only screen and (max-width: 600px) {
    .cantener .button button {
        width: 90px;
        height: 35px;
        margin-left: 10px;
        font-size: 14px;
    }
}